.restaurant-card {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.restaurant-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.restaurant-image {
  height: 200px;
  overflow: hidden;
}

.restaurant-image img {
  width: 100%;
  height: 200px;
  object-position: center;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.restaurant-card:hover .restaurant-image img {
  transform: scale(1.05);
}

.restaurant-content {
  padding: 15px;
}

.restaurant-name {
  font-size: 1rem;
  color: #333;
  height: fit-content;
  max-height: 40px;
  overflow: hidden;
}

.rating-delivery-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.rating-delivery-time .restaurant-rating {
  margin-bottom: 0px;
}

.restaurant-rating,
.delivery-time {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #666;
}

.star-filled {
  color: #ffc107;
}

.star-outline {
  color: #ccc;
}

.restaurant-description {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 15px;
  line-height: 1.5;
  max-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.view-menu-btn {
  display: inline-block;
  background-color: #e63946;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: 500;
  transition: background-color 0.3s ease;
  width: 100%;
  text-align: center;
  margin-top: auto;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.9rem;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 1.5;
  background-image: linear-gradient(to right, #e63946, #d62b39);
  background-size: 200% auto;
  background-position: left center;
  transition: background-position 0.5s ease;
}

.view-menu-btn:hover {
  background-color: #d62b39;
}

/* promoted label */

.promoted-wrapper {
  position: relative;
  margin-top: 16px;
}

.promoted-label {
  position: absolute;
  top: -14px;
  left: 8px;
  background-color: #fff;
  color: #e63946;
  font-size: 1rem;
  font-weight: 800;
  padding: 6px 10px;
  border-radius: 4px;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.promoted-label span {
  display: block;
}

@media (max-width: 768px) {
  .restaurant-image {
    height: 180px;
  }

  .restaurant-content {
    padding: 12px;
  }

  .restaurant-name {
    font-size: 1.1rem;
  }

  .promoted-label {
    font-size: 0.7rem;
    padding: 3px 6px;
  }
}
