§*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --accent: #af6e4d;
    --accent: #af6e4d;
    --light-color: #fffbff;
    --light--bg-color: #fffbff;
    --dark-color: #04030f;
    --dark--bg-color: #04030f;
    --gray--bg-color: #c7c6c6;
    --dark-brown: #c98766;
    --light-brown: #f1dabf;
    /* --primary-cta: #c98766; */
    --primary-cta: #af6e4d;
    --primary-cta-hover: #b98064;
    --secondary-light-color: #cccccc;
    --sm-text: #d1d1d1;
    /* --dark-sm-text: rgb(12, 6, 6); */
    --dark-sm-text: #080808;
    --black: #000;
    --secondary-black: #111;
    --white: #fff;
    --dark-gray: #5a5a5a;
    --light-gray: #d3d3d3;
    --serif-font: "Cardo", serif;
    --main-font: "Montserrat", sans-serif;
    --secondary-font: "Poppins", sans-serif;
    --border-radius: 5px;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0.3rem;
    border-radius: 15px;
}

/* track */
::-webkit-scrollbar-track {
    background: var(--light-color);
    height: 2rem;
}

/* handle */
::-webkit-scrollbar-thumb {
    background: var(--dark-color);
    /* border-radius: 15px; */
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--dark-brown);
}

/* GLOBAL STYLING */
body {
    font-family: var(--main-font);
    background-color: var(--dark--bg-color);
    color: var(--light-color);
    line-height: 1.5;
    /* height: 200vh; */
}

.light-body {
    background-color: var(--light--bg-color);
    color: var(--dark-color);
}

.light-body a {
    color: var(--dark-color);
}

.container {
    width: 90%;
    margin: auto;
}

section {
    padding: 5rem 0;
}

a {
    text-decoration: none;
    color: var(--light-color);
}

li {
    list-style-type: none;
}

.link {
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 500;
    background: linear-gradient(90deg, currentColor calc(100%/3), transparent 0 calc(200%/3), currentColor 0) var(--d, 0%) 100% /300% 3px no-repeat;
    transition: 0.5s;
    border-radius: 3px;
}

.link:hover {
    --d: 100%;
}

/* img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.border-radius-img {
    border-radius: var(--border-radius);
}

.section-title {
    font-family: var(--serif-font);
    font-weight: 700;
    font-size: 3.2rem;
    text-align: center;
}

.section-sub {
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    position: relative;
    color: var(--secondary-light-color);
}

.sm-text {
    font-family: var(--secondary-font);
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--sm-text);
    letter-spacing: 0.3px;
}

.md-title {
    font-family: var(--main-font);
    font-size: 2rem;
    line-height: 1.6;
    color: var(--sm-text);
    letter-spacing: 0.3px;
}

.paragraph {
    margin-bottom: 1rem;
}

/* in case of light body */
.light-body .sm-text {
    color: var(--dark-sm-text);
    font-size: 1.2rem;
    line-height: 1.6;
    letter-spacing: 0.8px;
}

.light-body .md-title {
    color: var(--dark-color);
}

.light-body .section-sub {
    color: var(--secondary-black);
}

/* Scroll to TOP BTN */
.scrollToTop-btn {
    z-index: 999;
    position: fixed;
    background: var(--dark--bg-color);
    color: var(--light-color);
    width: 45px;
    height: 45px;
    right: 0;
    bottom: 10px;
    font-size: 22px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0;
    line-height: 45px;
    pointer-events: none;
    box-shadow: 0 4px 12px rgba(80, 81, 82, 0.3);
    transition: all 0.3s ease;
}

.scrollToTop-btn.active {
    right: 3rem;
    bottom: 2rem;
    opacity: 1;
    pointer-events: auto;
}

.scrollToTop-btn i {
    transition: all 0.3s ease;
}

.scrollToTop-btn:hover i {
    transform: translateY(-3px);
}

/* NAVBAR */
.nav-bar {
    height: 10vh;
    background: var(--dark--bg-color);
    padding: 0 5%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: all 0.3s ease-in-out;
}

.logo {
    padding-top: 1rem;
    border-radius: 40px;
}

.scroll-down .nav-bar {
    transform: translate3d(0, -100%, 0);
    padding: 0 8%;
}

.menu {
    cursor: pointer;
    z-index: 998;
    padding-top: 0.8rem;
}

.line {
    height: 1.8px;
    width: 2rem;
    background: var(--light-color);
    margin: 4.5px 0;
    border-radius: var(--border-radius);
    transition: all 0.3s ease;
}

.line1 {
    width: 1.5rem;
}

.line3 {
    width: 1.5rem;
    margin-left: 0.5rem;
}

.menu:hover .line1 {
    margin-left: 0.5rem;
}

.menu:hover .line3 {
    margin-left: 0;
}

.menuContent {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #070607;
    color: var(--light-color);
    z-index: 1000;
    transition: 0.8s ease;
    overflow: auto;
    transform: translateY(-100%);
    font-family: Cardo;
    font-weight: 500;
}

.menuContent.openActive {
    transform: translateX(0);
}

.menuLogo {
    position: absolute;
    top: 2.4rem;
    left: 3rem;
    transition: 0.3s ease;
}

.menu-links {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 10%;
}

.menuContent-img {
    height: 23rem;
    width: 22rem;
    position: relative;
}

.imgBefore {
    position: absolute;
    top: -0.1rem;
    right: 0;
    left: 0;
    bottom: 0;
    height: 0;
    background: #070607;
}

.menuContent-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.menuLinks li a {
    display: inline-block;
    font-size: 52px;
    margin: 0.8rem 0;
    transition: 0.3s ease;
    font-style: italic;
}

.menuLinks li a:hover,
.smallLinks li a:hover {
    color: var(--accent);
}

.smallLinks {
    position: absolute;
    top: 20%;
    right: -19%;
}

.smallLinks li a {
    display: inline-block;
    margin: 1rem 0;
    transition: 0.3s ease;
    font-size: 1.1rem;
    font-style: italic;
}

.socialsMenu {
    align-items: center;
    display: flex;
}

.socialsMenu i {
    font-size: 1.1rem;
    margin-right: 1.5rem;
}

.sideContent {
    position: absolute;
    bottom: 2rem;
    left: 2.5rem;
}

.sideContent span {
    display: inline-block;
    transform: translateY(30px);
    opacity: 0;
    transition: 0.8s ease;
}

.sideContent span.fade {
    transform: translateY(0);
    opacity: 1;
}

.closeBtn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 3rem;
    right: 3rem;
    cursor: pointer;
}

.closeBtn span {
    font-family: var(--main-font);
    margin: 0 1rem;
}

.menuLinks li,
.smallLinks li {
    opacity: 0;
}

/* ANIMATION */
@keyframes load {
    from {
        height: 100%;
    }

    to {
        height: 0;
    }
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes mobilefade {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.menuOpen::-webkit-scrollbar {
    display: none;
}

body.bodyMenuOpen {
    overflow: hidden;
}

/* mobile menu */

.mobile-links-container {
    text-align: center;
    height: 100%;
    padding-top: 8rem;
    display: none;
}

.mobileSmallLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.3rem;
}

.mobile-links .mobile-link a {
    font-size: 44px;
    margin: 1rem 0;
    transition: 0.3s ease;
}

.mobileSmallLinks .mobile-link a {
    font-size: 22px;
    font-style: italic;
    margin: 0 0.8rem;
}

.mobile-links li,
.mobileSmallLinks li {
    opacity: 0;
}

.mobileSocial {
    position: absolute;
    bottom: 2rem;
    right: 2.5rem;
    display: flex;
}

.mobileSocial li a {
    margin-left: 1rem;
}

/* MAIN HERO */
.main-hero {
    height: 100vh;
    position: relative;
    width: 93%;
    margin-left: auto;
    margin-top: 5rem;
    overflow: hidden;
}

.home-image-1,
.home-image-2 {
    height: 80vh;
    width: 30%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    z-index: -1;
}

.home-image-2 {
    right: 32%;
}

.home-image-1 img,
.home-image-2 img {
    border-radius: 3px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-image-1::after,
.home-image-2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(4, 3, 15, 0.3)
}

.main-title {
    font-size: 5.8rem;
    z-index: 5;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 2.8px;
    padding-top: 2rem;
}

.main-sub {
    width: 33%;
    font-weight: 500;
    font-size: 1.3rem;
    margin: 1rem 0 2.8rem 0;
}

/* ANIMATION */
@keyframes outer-left {
    from {
        transform: translateX(40%);
    }

    to {
        transform: none;
    }
}

@keyframes inner-left {
    from {
        transform: translateX(-45%);
    }

    to {
        transform: none;
    }
}

@keyframes text-clip {
    from {
        clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%)
    }

    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes image-in {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

.home-gallery-card.js-scroll {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.js-scroll {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.js-scroll.scrolled {
    opacity: 1;
}

.scrolled.fade-in-bottom {
    animation: fade-in-bottom 1s ease-in-out both;
}

@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        -webkit-transform: translateY(0);
        opacity: 1;
        transform: translateY(0);
    }
}

.animation-main-title-container,
.animation-sub-container,
.btn-animation {
    animation: outer-left 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.main-hero-title-inner {
    animation: inner-left 1s 1s ease both;
}

.animation-title {
    display: inline-block;
    animation: inner-left 1s 1s ease both, text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.animation-sub {
    animation: inner-left 1s 1s ease both, text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.main-hero-title {
    animation: outer-left 1s 1s ease both;
}

.home-image-2 {
    animation: image-in 1s cubic-bezier(0.5, 0, 0.1, 1) 0.9s backwards;
}

.home-image-1 {
    animation: image-in 1s cubic-bezier(0.5, 0, 0.1, 1) 1s backwards;
}

/* Button */
.btn {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.1rem;
    padding: 0.6rem 3rem;
    color: var(--light-color);
    display: inline-block;
    background: var(--primary-cta);
    border-radius: 0 20px 20px 30px;
    position: relative;
    cursor: pointer;
    z-index: 1;
    transition: 0.3s ease;
}

.btn:hover {
    background: var(--primary-cta-hover);
    border-radius: 20px 20px 20px 20px;
}

/* our servings service */
.section-title {
    font-family: var(--serif-font);
    font-size: 3.2rem;
    font-weight: 700;
    text-align: center;
}

.serve-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.serve-card {
    display: inline-block;
    height: 22rem;
    width: 22rem;
    background: var(--light--bg-color);
    position: relative;
    margin: 1.3rem 0.7rem;

    box-shadow: 0 8px 15px rgba(112, 144, 176, 20%);
    transition: 0.3s ease;
}

.serve-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.serve-category {
    position: absolute;
    bottom: -0.8rem;
    left: 50%;
    text-align: center;
    height: 3rem;
    background: var(--secondary-black);
    color: var(--light-color);
    transform: translateX(-50%);
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 2px rgba(212, 209, 209, 0.571);
}

.serve-category span {
    text-transform: capitalize;
    font-size: 1.1rem;
}

/* RESERVATIONS */
.book-a-reservation {
    height: 70vh;
    background: url("../images/revervation-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 3;
}

.book-a-reservation::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(4, 3, 14, 0.5);
    z-index: -1;
}

.book-reservation-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.book {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
    line-height: 1;
    letter-spacing: 1px;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.2);
}

.book-btn:hover {
    background: var(--primary-cta-hover);
    border-radius: 20px 20px 20px 20px;
}

/* About US */
.light-body .dot {
    background: var(--secondary-black);
}

.light-body .section-sub::before,
.light-body .section-sub::after {
    background: var(--secondary-black);
}

.section-sub::after {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    background: var(--secondary-light-color);
    height: 2px;
    width: 2rem;
    left: 46%;
    border-radius: 15px;
}

.section-sub::before {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    background: var(--secondary-light-color);
    height: 2px;
    width: 2rem;
    right: 46%;
    border-radius: 15px;
}

.dot {
    height: 0.3rem;
    width: 0.3rem;
    background: var(--secondary-light-color);
    left: 50%;
    bottom: -0.6rem;
    position: absolute;
    transform: translate(-50%);
    border-radius: 45px;
}

.home-about-content {
    padding-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.home-about-text {
    position: relative;
    width: 45%;
}

.home-anout-img {
    width: 45%;
    position: relative;
}

.home-about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* PROFESSIONALS */
.professional-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
}

.professional-text {
    width: 45%;
}

.professional-img {
    width: 60%;
}

.professional-text .sm-text {
    margin-bottom: 1.8rem;
}

.prof-img {
    width: 100%;
    height: 15rem;
}

.prof-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 10px; */
}

.professional-1,
.professional-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4%;
    margin-bottom: 2rem;
}

.pro-img-container {
    width: 50%;
}

.prof-detail {
    width: 50%;
}

.prof-category {
    font-weight: 500;
}

.prof-text {
    font-size: 1.1rem;
    line-height: 1.6;
    font-weight: 500;
}

/* GALLERY */
#home-gallery {
    padding-bottom: 7rem;
    position: relative;
}

#home-gallery::before {
    position: absolute;
    content: "";
    top: 50%;
    bottom: 50%;
    left: 0;
    right: 0;
    height: 50%;
    background: var(--light--bg-color);
    z-index: -1;
}

.home-gallery-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
}

.home-gallery-card {
    width: 22rem;
    height: 18rem;
    margin: 1rem;
    position: relative;

    box-shadow: 0 8px 15px rgba(80, 81, 82, 0.3);
    transition: 0.3s ease;
}

.home-gallery-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 10px; */
}

.home-gallery-card::after {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background: rgba(4, 3, 14, 0.5);
    z-index: 1;
}

.home-gallery-card span {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    z-index: 2;
}

/* TESTIMONIALS */
#§ {
    position: relative;
}

.carousel-wrapper {
    /* position: relative; */
    /* overflow: hidden; */
    width: 50%;
    margin: 0 auto;
}

.carousel-item .testimonial {
    padding: 3rem 0 7rem 0;
    width: 70%;
    margin: 0 auto;
}

.carousel-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    /* margin: 0 auto; */
}

.carousel-container {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 500%;
    transition: transform 0.3s cubic-bezier(0.694, 0.0482, 0.335, 1);
}

.carousel-item {
    position: relative;
    float: left;
    width: 20%;
}

.testimonial-user {
    display: flex;
    align-items: center;
    padding-top: 1rem;
}

.user {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 45px;
    margin-right: 1.5rem;
}

.user img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 45px;
}

.user-name span {
    font-size: 1rem;
    font-style: italic;
}

/* PAGINATIONS */
.carousel-pagination {
    list-style: none;
    position: absolute;
    bottom: 3%;
    left: 0;
    right: 0;
    width: 50%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    z-index: 10;
}

.carousel-bullet {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 7px;
    background-color: var(--light-gray);
    cursor: pointer;
    border-radius: 50%;
    opacity: 0.5;
    transition-property: transform, opacity, background-color;
    transition-duration: 0.3s;
}

.carousel-bullet:hover {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
}

.carousel-bullet.active-bullet,
.carousel-bullet.active-bullet:hover {
    opacity: 1;
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    background-color: var(--white);
    cursor: default;
}

.light-body .carousel-bullet {
    background-color: var(--secondary-black);
}

.light-body .carousel-bullet.active-bullet,
.light-body .carousel-bullet.active-bullet:hover {
    background-color: var(--secondary-black);
}

/* BANNER */
.overlay {
    position: relative;
    z-index: 1;
}

.overlay::before,
.overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(4, 3, 14, 0.5);
    z-index: -1;
}

#banner {
    position: relative;
    height: 25rem;
    background: url("https://images.unsplash.com/photo-1533777857889-4be7c70b33f7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80") no-repeat center center/cover
}

#banner::after {
    content: "";
}

.banner-text {
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.1;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.2);
    font-family: var(--serif-font);
}

.banner-text::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.301);
    width: 50%;
    margin: auto;
    z-index: -1;
    border-radius: var(--border-radius);
}

/* MEDIA QUERIES */
@media all and (max-width: 1050px) {
    .home-gallery-content {
        flex-wrap: wrap;
    }
}

@media all and (max-width:1024px) {
    .container {
        width: 95%;
    }

    .link {
        font-size: 1.1rem;
        background: linear-gradient(90deg, currentColor calc(100%/3), transparent 0 calc(100%/3), currentColor 0) var(--d, 0%) 100% /300% 2px no-repeat;
    }

    /* NAVBAR */
    .menu-title {
        font-size: 1.5rem;
    }

    .main-title {
        font-size: 5.5rem;
    }

    .main-sub {
        font-size: 1.5rem;
    }

    .section-title {
        font-size: 2.5rem;
    }

    .sm-text {
        font-size: 1rem;
        line-height: 1.7rem;
    }

    .row {
        width: 100%;
    }

    .btn {
        font-size: 1rem;
    }

    .serve-card {
        height: 15rem;
        width: 18rem;
    }

    .home-about-content {
        width: 100%;
        flex-direction: column;
    }

    .home-about-text {
        margin-bottom: 2rem;
    }

    .home-about-img {
        height: 20rem;
    }

    .professional-content {
        flex-direction: column;
    }

    .professional-img {
        display: flex;
        margin-top: 5rem;
    }

    .professionals {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .prof-img-container {
        width: 80%;
    }

    .prof-detail {
        width: 80%;
        height: 16rem;
    }

    .prof-img {
        margin-bottom: 2rem;
    }

    .home-gallery-content {
        flex-wrap: wrap;
    }

    .home-gallery-card {
        width: 18rem;
        height: 15rem;
    }

    .testimonial-content .sm-text {
        font-size: 1rem;
        line-height: 1.7rem;
    }

    .banner-text {
        font-size: 3rem;
    }
}

@media all and (max-width: 924px) {
    .home-image-1 {
        display: none;
    }

    .home-image-2 {
        position: absolute;
        right: 0;
        width: 50%;
    }

    .main-title {
        font-size: 4.5rem;
    }

    .main-sub {
        width: 45%;
        font-size: 1.2rem;
        font-weight: 400;
        margin: 1rem 0 2.5rem 0
    }

    .menuLinks {
        position: relative;
    }

    .menuLogo {
        height: 3.5rem;
        top: 2rem;
        left: 3rem;
    }

    /* =========================================== */
    .menu-links,
    .smallLinks,
    .menuContent-img {
        /* display: none; */
    }

    .mobile-links-container {
        display: block;
        width: 100%;
    }
}

@media all and (max-width: 768px) {
    .menu-title {
        font-size: 4.5rem;
    }

    .main-sub {
        width: 50%;
    }

    .serve-card {
        width: 70%;
    }

    .serve-category span {
        font-size: 1rem;
    }

    .btn {
        padding: 0.5rem 2.5rem;
        font-size: 1rem;
    }
}

@media all and (max-width: 670px) {
    .main-title {
        font-size: 4rem;
    }

    .btn {
        font-size: 14px;
    }

    .book-a-reservation {
        height: 50vh;
    }

    .book {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    .professional-img {
        flex-direction: column;
        width: 100%;
    }

    .professionals {
        width: 100%;
        margin-bottom: 0.5rem;
        gap: 0;
    }

    .professional-text .sm-text {
        font-size: 1rem;
    }

    .carousel-item .testimonial {
        width: 90%;
    }

    .user-name {
        font-size: 1rem;
        letter-spacing: 1px;
    }

    .user-name span {
        font-size: 0.8rem;
    }

    #banner {
        height: 18rem;
    }

    .banner-text {
        font-size: 2.5rem;
    }
}

@media all and (max-width: 580px) {
    .main-title {
        font-size: 3.8rem;
    }

    .menu-title {
        font-size: 3.8rem;
    }

    .home-image-2 {
        height: 60vh;
    }

    .mobile-links .mobile-link a {
        font-size: 36px;
    }

    .mobileSmallLinks .mobile-link a {
        font-size: 18px;
    }

    .sideContent span,
    .mobileSocial li a {
        font-size: 14px;
    }

    .menuLogo {
        left: 50%;
        transform: translate(-50%);
    }

    .closeBtn span {
        font-size: 14px;
    }

    .sideContent {
        left: 1rem;
    }

    .mobileSocial {
        right: 1rem;
    }

    .mobileSocial li a {
        margin-left: 0.5rem;
    }

    .section-title {
        font-size: 2.3rem;
    }

    .home-about-img {
        height: 15rem;
        margin-top: 1.5rem;
    }

    .book-a-reservation {
        height: 40vh;
    }
}

@media all and (max-width: 520px) {}

@media all and (max-width: 480px) {
    .menu-title {
        font-size: 2.7rem;
    }

    .book {
        font-size: 2rem;
    }

    #banner {
        height: 40vh;
    }

    .banner-text {
        font-size: 2rem;
    }
}

@media all and (max-width: 380px) {}